# Root editor config to prevent looking for .editorconfig in parent directories
root = true

# General settings (applied to all files)
[*]
indent_style = space
indent_size = 2
tab_width = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# TypeScript, JavaScript, HTML, CSS, SCSS, JSON, and YAML files
[*.{ts,js,html,css,scss,json,yml}]
indent_size = 2

# TypeScript and JavaScript max line length
[*.{ts,js}]
max_line_length = 120

# Markdown files
[*.md]
trim_trailing_whitespace = false
