:root {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  --margin: 0px;
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  margin: var(--margin);
}

html,
body,
#map {
  height: calc(100% - 2 * var(--margin));
  width: calc(100% - 2 * var(--margin));
}
